/* Vivian Tran */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #eabf00;
    color: #333;
  }
  
  header {
    background-color: #000000; 
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  img {
    border: 5px solid pink;
    border-radius: 10px;
  }
  /* Main content */
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    
  }
  
  form {
    background-color: #d4d2cd;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  form label {
    font-size: 16px;
    color: #333;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #3b5998;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #2d4373;
  }
  body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #eabf00;
    color: #333;
  }
  
  header {
    background-color: #000000; 
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;

  }
  
  img {
    border: 5px solid pink;
    border-radius: 10px;
  }
  /* Main content */
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    
  }
  
  form {
    background-color: #d4d2cd;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  form label {
    font-size: 16px;
    color: #333;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #3b5998;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #2d4373;
  }
