/* Wayne Major */

/* STYLES FOR MAIN FEED */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
	background-color: #ffc72c;
	font-family: "Inter", sans-serif;
}

header {
	background-color: #ffc72c;
	padding: 20px;
	text-align: center;
	margin: 0;
}

.logo {
	width: auto;
	height: 75px;
}

/*sidepanel*/
.sidepanel {
	
	height: 100%;
	width: 0; /*changed through JS*/
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #ffc72c;
	overflow-x: hidden; /*disable horizontal scroll*/
	padding-top: 60px;
	transition: width 0.3s ease; /*sidepanel transition iin 0.5s*/

}
/*all sidebar links */
.sidepanel a{

	display: block;
	color: black;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	transition: 0.3s;
}
/* Specifically for the link inside the sidebar with class active*/
#mySidepanel a:hover {

	color: #f1f1f1;

}

#sidebarUser{

	display: block;
	color: black;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	transition: 0.3s;
	
}

.togglebtn{

	position: fixed;
	top: 20px;
	left: 0;
	padding: 10px 15px;
	font-size: 20px;
	background-color: #111;
	color: white;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: left 0.3s ease;
	z-index: 1001; /*always on top*/
}

#main {
	transition: margin-left 0.3s ease;
	margin-left: 0;
	background-color: #c7c8ca;
}

/*MAIN POSTS*/

.centerColumn{

	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	
}

.post {

	background-color: #fff;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

.post-header {

	display: flex;
	align-items: center; /* makes all items inside this div centered */
	margin-bottom: 10px;
	
}

.pfp {

	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right:10px;
}

.username {
	
	font-weight: bold;
}

.post-media img,
.post-media video{

	width: 100%;
	border-radius: 8px;
	margin-bottom: 10px;
	
}

.post-caption {

	margin-bottom: 10px;

}

.post-comments {

	font-size: 14px;
	color: #555;
	margin-top: 10px;
	border-top: 1px solid #eee;
	padding-top: 10px;
	
}
/* Links on mouse-over (but not for class active) 
.sidepanel .closebtn {

	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
	
}


.openbtn {

	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
	
}
*/
