html {
    background-color: #fdb515;
    font-family: "Inter", sans-serif;
}   

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 50px;
}

button {
    font-family: "Inter", sans-serif;
    width: 260px;
    height: 30px;
    margin-top: 20px;
    background-color: #fdb515;
    border: 0.5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition-duration: 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: #a67a05; 
}

input {
    width: 250px;
    height: 30px;
    margin: 5px;
    border: 0.5px solid black;
    border-radius: 5px;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    width: auto;
    height: 450px;
    background-color: rgb(199, 200, 202);
    border-radius: 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 3em;
}

.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    background-color: rgb(199, 200, 202);
    border-radius: 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 3em;
}
.create h1 {
    text-align: center;
}

.confirm {
    background-color: rgb(199, 200, 202);
    padding: 50px;
    border-radius: 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
            rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


#form {
    font-size: 15px;
}

#pronouns {
    font-family: "Inter", sans-serif;   
}